@()

<form id="createUserForm" action="@routes.RootController.addUser(null)">
  <label>Username
    <input type="text" name="userName" placeholder="username">
  </label>
  <div class="input-group">
	<button class="button" type="submit" value="Create" form="createUserForm">Create</button>
  </div>
</form>