@(userId: String, currentPainRating: name.li.pain.api.UserRating)

	<form id="ratePainForm" action="@routes.RootController.rate(userId, 0)">
		@if(currentPainRating != null) {
			<label>Rate Pain (rated on @helpers.TimeFormat.formatInstantWithDefaultZoneId(currentPainRating.getTimestamp))
				<input type="text" name="rating" placeholder="rating" value="@currentPainRating.getValue">
			</label>
		} else {
			<label>Rate Pain
				<input type="text" name="rating" placeholder="rating" value="">
			</label>
		}
		<div class="input-group">
			<button class="button" type="submit" value="Rate pain" form="ratePainForm">Submit</button>
		</div>
	</form>