@()

<div id="ratingsStreamBlock">
</div>

<script>
</script>
<div style="display: none;" id="userLinkTemplateHolder" data-user-link="@routes.RootController.showUser("XXX")"></div>
<div style="display: none;" id="ratingsStreamLinkHolder" data-ratings-stream-link="@routes.RootController.ratings().webSocketURL(request())"></div>
<script>

	var ratingsStreamUrl = document.querySelector("#ratingsStreamLinkHolder").dataset.ratingsStreamLink;
	var w = new WebSocket(ratingsStreamUrl);

	var ratingsBlock = document.querySelector("#ratingsStreamBlock");
	
	var getUserLink = function(userId) {
		var templateUrl = document.querySelector("#userLinkTemplateHolder").dataset.userLink;
		var url = templateUrl.replace("XXX", userId);
		var link = document.createElement("a");
		link.text = "Somebody";
		link.href = url;
		return link;
	}
	var getText = function(ratingValue) {
		var span = document.createElement("span");
		span.textContent =" has " + ratingValue + " points of pain";
		return span;
	}

	var appendRating = function(frame) {
		checkMessageLimit();
		var rating = JSON.parse(frame.data).rating;
		ratingsBlock.appendChild(createSingleRatingBlock(rating));
	}

	var createSingleRatingBlock = function(rating) {
		var div = document.createElement("div");
		div.appendChild(getUserLink(rating.userId));
		div.appendChild(getText(rating.value));
		return div;
	}

	var checkMessageLimit = function() {
		var limitReached = ratingsBlock.childElementCount >= 10;
		if (limitReached) {
			ratingsBlock.removeChild(ratingsBlock.firstChild);
		}
	}
	
	w.onmessage = appendRating;
</script>
