@(tag: name.li.pain.aggregation.api.TagAggregate, users: java.util.Collection[String])

@main {

	@cols6 {

	<h1>Tag: @tag.getName</h1>
	<table>
		<tr> 
			<td>
				Max
			</td> 
			<td>
				<strong>@tag.getMax</strong>
			</td> 
		</tr>
		<tr> 
			<td>
				Min	
			</td> 
			<td>
				<strong>@tag.getMin</strong>
			</td> 
		</tr>
		<tr> 
			<td>
				Mean
			</td> 
			<td>
				<strong>@tag.getMean</strong>
			</td> 
		</tr>
		<tr> 
			<td>
				Users
			</td> 
			<td>
				@users.map { userId => 
					<a href="@routes.RootController.showUser(userId)"> @userId </a> 
				}
			</td> 
		</tr>
	</table>

	}
	
}
