@(users : java.util.Collection[name.li.pain.users.api.UserState])

@main {

	@cols6 {
	
	@createuserForm()

	<h1>@users.size() users</h1>
	<table>
	@for(user <- users) {
		<tr>
			<td>
				<a href="@routes.RootController.showUser(user.getId)">
				@user.getName
				</a>
			</td>
		</tr>
	}
	</table>
	<button class="button" onclick="location.reload()">Refresh</button>
	
	
	}
	
}