@(user: name.li.pain.users.api.UserState, painRating: name.li.pain.api.UserRating)

@main {
	
	@cols6 {

	<h1>User: @user.getName</h1>
	<h3>Tags:</h3>
	<table>
	@for(tag <- user.getTags) {
		<tr> 
			<td>
				<a href="@routes.TagsController.showTag(tag.name)">
				@tag.name
				</a>
			</td> 
		</tr>
	}
	</table>
	
	<form id="addTagForm" action="@routes.RootController.addUserTag(user.getName, null)">
		<label>Add tag
			<input type="text" name="tagName" placeholder="tag name">
		</label>
		<div class="input-group">
			<button class="button" type="submit" value="Add" form="addTagForm">Submit</button>
		</div>
	</form>
	
	@painRatingForm.render(user.getId, painRating)

	}
	
}